@CHARSET "ISO-8859-1";

html {
	height: 100%;
	text-align: center;
}

body {
	height: 100%;
	width: 100%;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Lato', sans-serif;
}

#profileImage {
	max-width: 300px;
}

main {
	min-height: 50%;
	max-width: 60%;
}

header {
	background-color: #333399;
	font-size: 18px;
	color: white;
	max-width: 60%;
}

footer {
	background-color: #008080;
	color: white;
	max-width: 60%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #008080;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box;
	/* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical
		/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=button] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=button]:hover {
	background-color: #45a049;
}

/* Add a background color and some padding around the form */
.formContainer {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	text-align: left;
}

#imageContainer {
	text-align: center;
}

.listPreview {
	max-width: 100px;
}

#contactTable {
	width: 100%;
	border: 1px solid black;
	margin-top: 20px;
}

#product-search {
	padding: 1em;
    margin: .7em 0;
    padding-left: 5em;
    width: 87%;
    border: 1px solid #e0ddd5;
    font-size: 1em;
    background-image: url(http://i47.tinypic.com/r02vbq.png);
    background-repeat: no-repeat;
    background-position: left center;
    outline: none;
}

#items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -.5em;
	margin-top: -.5em;
}

#items .item {
	flex: 1 0 10em;
  	box-sizing: border-box;
  	background: #e0ddd5;
  	font-size: .8em;
  	color: #171e42;
  	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;	
}

.item img {
	border-radius: 1em;
}

.item p{
	margin: 0;
}
	
.item p.product-name{
	font-weight: 700;
}

.item button {
	background-color: #008080;
    margin-top: .5em;
    color: #ffffff;
    border-radius: 1em;
}

#dialogPlaceOrder {
	font-family: "Lato", sans-serif;
}

form .fields{
	display: none;
}

div.radio-buttons {
	margin: 1em;
}

div.credit-card-info, div.paypal-info {
	display: inline-block;
	margin: 0 2%;
}

div.credit-card-info label, div.name-on-card label, div.quantity-info label, div.paypal-info label {
	float: left;
	text-align: left;
    font-size: .8em;
}

div.paypal-info {
	width: 45%;
}

div.name-on-card, div.quantity-info {
	width: 95%;
    margin: auto;
}

div.credit-card-number {
	width: 45%;
}

div.security-code, div.expiration-date {
	width: 20%;
}

button:focus {
	outline:0;
}

/*  representatives styles  */
table {
	white-space: pre-wrap;
}

.order {
	border: 1px solid #1a7f7f;
    background-color: #e0ddd5;
}

.order .order-item {
	flex: 1 0 10em;
  	box-sizing: border-box;
  	background: #e0ddd5;
  	font-size: .8em;
  	color: #171e42;
  	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

#orders th {
    font-family: 'Lato-Light', sans-serif;
    font-weight: 700;
    font-size: .9em;
    padding: 0 2em;
}

td.order-item.red{
	color: #ea0000;
	font-weight: 700;
}
td.order-item.green{
	color: #009c1a;
	font-weight: 700;
}
td.order-item.teal{
	color: #1a7f7f;
	font-weight: 700;
}

td.order-item.blue {
	color: #0484c1;
	font-weight: 700;
}

td:last-child {
    position: relative;
}
.action-required-icon {
  	position: absolute;
  	display: none;
  	right: -20px;
  	top: 50%;
}

.show-icon {
  	display: block;
}

button.link {
	width: 80%;
    margin: 1em auto;
    padding: .6em;
    background-color: #1a7f7f;
    color: #ffffff;
}

button.link.red {
	background-color: #ea0000;
}
button.link.green {
	background-color: #009c1a;
}

.ui-dialog-titlebar-close {
	visibility: hidden;
}

#contactTable tr {
	border: 1px solid black;
}

#contactTable th {
	background-color: #333;
	color: white;
	width: 33%;
}

#contactTable td {
	text-align: center;
}

#contactTable textarea {
	height: 100px;
	font-size: 10px;
}

#cancel {
	background-color: red;
}
#textSearch{
	width: 30%;
	height: 20px;
}